/src/AutoParaTest/.vs
/src/AutoParaTest/AutoPara/bin
/src/AutoParaTest/AutoPara/obj
/src/AutoParaTest/TestWebApi/obj
/src/AutoParaTest/TestWebApi/bin
/src/AutoParaTest/WebApiTest/bin
/src/AutoParaTest/WebApiTest/obj
/src/AutoParaTest/TestCommon/bin/Debug
/src/AutoParaTest/TestCommon/obj
